<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<appSettings>

		<add key="Employee_Username" value="877_Employee" />
		<add key="Employee_Password" value="Admin@123" />
		<add key="Manager_Username" value="877_manager" />
		<add key="Manager_Password" value="Admin@123" />
		<add key="Finance_Username" value="877_finance" />
		<add key="Finance_Password" value="Admin@123" />

	</appSettings>


</configuration>